<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dicerollerapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="Truth or Dare / Dice Roller"
        android:roundIcon="@drawable/round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity android:name=".Utilities.ScoreCounter.ScoreCounter"></activity>
        <activity android:name=".Utilities.BottleSpinner.BottleSpinner" />
        <activity android:name=".Utilities.DiceRoller.DiceRoller" />
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>